.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__button {
  padding: 15px;
  margin-right: 60px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  min-width: 100px;
}